[submodule "components/telnet/libtelnet"]
	path = components/telnet/libtelnet
	url = https://github.com/seanmiddleditch/libtelnet
	branch = develop
[submodule "components/esp-dsp"]
	path = components/esp-dsp
	url = https://github.com/philippe44/esp-dsp.git
